%categoryTitle {
  font-weight: 600;
  font-size: $fontSmall;
  margin-bottom: 50px;
}

%btn {
  text-decoration: none;
  color: inherit;
  border: $border;
  padding: 10px 40px;
  font-weight: 500;
  border-radius: 99px;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: black;
    color: white;
  }
}

%grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-column-start: span 2;
}
